html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0 0 200px 0;
    background-color: #1B244A;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
    margin-top: 68px;
    margin-bottom: 15px;
}

.home-score,
.away-score {
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

h2 {
    color: #F94F6D;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 5.3125rem;
    line-height: 85px;
    font-family: 'Orbitron', sans-serif;
}

.home-buttons,
.away-buttons {
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.home-buttons button,
.away-buttons button {
    padding: 6px 8px;
}

button:hover {
    color: #F94F6D;
    border: 3px solid #F94F6D;
}

button:hover::after {
    color: #9AABD8;
    border: 3px solid #9AABD8;
}

button {
    color: #9AABD8;
    border: 3px solid #9AABD8;
    background: none;
    border-radius: 3px;
    width: 45px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.125rem;
    line-height: 28px;
    text-align: center;
}

.timer-container {
    font-family: 'Verdana';
    border-radius: 30px;
    background: #080001;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
    width: 40%;
    padding: 15px;
}

#countdown {
    color: white;
    text-align: center;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0 0 20px 0;
    width: 100%;
}

.stop-btn,
.start-btn,
.reset-btn {
    color: #9AABD8;
    border: 3px solid #9AABD8;
    background: none;
    border-radius: 3px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.125rem;
    line-height: 28px;
    margin-bottom: 15px;
    width: auto;
}

.stop-btn:hover,
.start-btn:hover,
.reset-btn:hover {
    border: 3px solid #F94F6D;
    color: #F94F6D;
}

.new-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.new-game-button {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5625rem;
    color: #eeeeee;
    background: none;
    border: 3px solid #9AABD8;
    border-radius: 3px;
    padding: 10px;
    width: auto;
}

.new-game-button:hover {
    color: #F94F6D;
    border: 3px solid #F94F6D;
}

.key {
    color: white;
    font-family: sans-serif;
    font-size: 0.75rem;
    margin-top: 75px;
    text-align: center;
    line-height: 18px;
}

.key span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

@media only screen and (min-width: 400px) {
    .team-container {
        flex-flow: row;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 768px) {
    .timer-container {
        flex-flow: row wrap;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
    .team-container {
        justify-content: center;
    }

    .score-container {
        margin: 20px 50px;
    }
    
    .timer-container {
        flex-flow: row wrap;
        width: fit-content;
    }
}